/* Import the reindeer theme.
*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

	.v-nativebutton-selected {
		.v-nativebutton-caption {
			font-size: 15px;
			font-family: 'Telex', sans-serif;
			font-weight: bold;
			color: white;
		}
		background: rgb(50, 203, 224);
		border: 0px solid #900;
		width: 150px;
		height: 40px;
	}

	.v-nativebutton-unselected {
		.v-nativebutton-caption {
			font-size: 15px;
			font-family: 'Telex', sans-serif;
			color: rgb(33, 152, 168);
		}
		background: white;
		border: 0px solid #900;
		width: 150px;
		height: 40px;
	}
}