/* Import the reindeer theme.
*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  $darkblue : #587794;
  $light : white;

	.v-nativebutton-selected {
		.v-nativebutton-caption {
			font-size: 15px;
			font-family: 'Telex', sans-serif;
			font-weight: bold;
			color: $light;
		}
		background: $darkblue;
		border: 0px solid #900;
		width: 150px;
		height: 40px;
	}

	.v-nativebutton-unselected {
		.v-nativebutton-caption {
			font-size: 15px;
			font-family: 'Telex', sans-serif;
			color: $darkblue;
		}
		background: $light;
		border: 0px solid #900;
		width: 150px;
		height: 40px;
	}

	.v-nativebutton-unselected:hover {
		border: 2px solid $darkblue;
		font-weight: bold;
	}

	.v-nativebutton-crudbutton {
		background: $light;
		border: 0px solid #900;
		.v-icon {
			margin-right: 0px;
		}
	}

	.v-nativebutton-crudbutton-add {
		.v-icon:hover {
			background-image: url('icons/add_selected_24px.png');
		}
	}

	.v-nativebutton-crudbutton-delete {
		.v-icon:hover {
			background-image: url('icons/delete_selected_24px.png');
		}
	}

	.v-nativebutton-crudbutton-edit {
		.v-icon:hover {
			background-image: url('icons/edit_selected_24px.png');
		}
	}

	.v-panel-contentpanel {
		background: $light;
	}

	.v-verticallayout-headertext {
		background: $light;
	}

	.v-verticallayout-headermargin {
		background: $darkblue;
	}

	.v-horizontallayout-footertext {
		background: $light;
	}

	.v-window {
		.v-window-header {
	  		background: $darkblue;
		}
    }
}