<?xml version="1.0" ?>
<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<!-- This configuration file was written by the eclipse-cs plugin configuration 
	editor -->
<module name="Checker">
	<module name="SuppressionFilter">
		<property name="file" value="${config_loc}/../top/CheckstyleSuppressions.xml" />
	</module>
	<module name="SuppressionCommentFilter">
		<property name="offCommentFormat" value="CS_MAGIC_NUM_OFF" />
		<property name="onCommentFormat" value="CS_MAGIC_NUM_ON" />
		<property name="checkFormat" value="MagicNumber" />
	</module>
	<property name="severity" value="warning" />
	<module name="TreeWalker">
		<property name="tabWidth" value="4" />
		<module name="FileContentsHolder" />
		<module name="JavadocMethod">
		</module>
		<module name="JavadocType" />
		<module name="JavadocVariable">
			<property name="severity" value="ignore" />
		</module>
		<module name="JavadocStyle" />
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />
		<module name="AvoidStarImport" />
		<module name="IllegalImport" />
		<module name="RedundantImport" />
		<module name="UnusedImports" />
		<module name="LineLength">
			<metadata name="com.atlassw.tools.eclipse.checkstyle.comment"
				value="Customized" />
			<property name="max" value="120" />
			<property name="ignorePattern" value="^import.*$" />
		</module>
		<module name="MethodLength">
			<property name="max" value="200" />
			<property name="countEmpty" value="false" />
		</module>
		<module name="ParameterNumber">
			<property name="max" value="12" />
		</module>
		<module name="EmptyForIteratorPad" />
		<module name="MethodParamPad" />
		<module name="NoWhitespaceAfter">
			<property name="tokens"
				value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS" />
		</module>
		<module name="NoWhitespaceBefore" />
		<module name="OperatorWrap" />
		<module name="ParenPad" />
		<module name="TypecastParenPad" />
		<module name="TabCharacter">
			<property name="severity" value="ignore" />
		</module>
		<module name="WhitespaceAfter" />
		<module name="WhitespaceAround">
			<property name="tokens"
				value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND,WILDCARD_TYPE" />
		</module>
		<module name="ModifierOrder" />
		<module name="RedundantModifier" />
		<module name="AvoidNestedBlocks" />
		<module name="EmptyBlock">
			<property name="option" value="text" />
			<property name="tokens" value="LITERAL_CATCH" />
		</module>
		<module name="LeftCurly" />
		<module name="NeedBraces" />
		<module name="RightCurly" />
		<module name="DoubleCheckedLocking" />
		<module name="EmptyStatement" />
		<module name="HiddenField">
			<metadata name="com.atlassw.tools.eclipse.checkstyle.comment"
				value="Customized" />
			<property name="tokens" value="VARIABLE_DEF" />
		</module>
		<module name="IllegalInstantiation" />
		<module name="InnerAssignment" />
		<module name="MagicNumber" />
		<module name="MissingSwitchDefault" />
		<module name="RedundantThrows">
			<!-- <property name="logLoadErrors" value="true"/> -->
			<!-- <property name="suppressLoadErrors" value="true"/> -->
		</module>
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="DesignForExtension">
			<property name="severity" value="ignore" />
		</module>
		<module name="FinalClass" />
		<module name="HideUtilityClassConstructor" />
		<module name="InterfaceIsType" />
		<module name="VisibilityModifier">
			<property name="protectedAllowed" value="true" />
		</module>
		<module name="ArrayTypeStyle" />
		<module name="FinalParameters">
			<property name="severity" value="ignore" />
		</module>
		<module name="GenericIllegalRegexp">
			<property name="severity" value="ignore" />
			<property name="format" value="\s+$" />
			<property name="message" value="Line has trailing spaces." />
		</module>
		<module name="TodoComment">
			<property name="severity" value="ignore" />
		</module>
		<module name="UpperEll" />
	</module>
	<module name="FileLength" />
	<module name="NewlineAtEndOfFile">
		<metadata name="com.atlassw.tools.eclipse.checkstyle.comment"
			value="only checks for line feed" />
		<property name="lineSeparator" value="lf" />
		<property name="fileExtensions" value="java,properties" />
	</module>
	<module name="Translation" />
</module>
